h3 {
    padding: 0;
    margin: 0;
}
.container {
    background-color: #aaa7a5;
    max-width: 1920px;

}
.wrapper {
    max-width: 1230px;
    margin: 0 auto;

}

.wrapper h3 {
    font-size: 44px;
    font-family: "DINProBlack";
    color: rgb(9, 59, 95);
    line-height: 1.2;
    text-align: center;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
}
.item {
    width: 45%;
    background-color: white;
    margin-top: 50px;
    padding: 20px;
}
.row {
    display:flex
}